/* Header styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 70px; /* Increase the height */
  width: 100%; /* Ensure the header spans the full width */
}

.header-icons {
  display: flex;
  align-items: center;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  overflow-y: auto;
  background-color: #343a40;
  color: white;
  transition: width 0.3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.sidebar h4 {
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar li:hover {
  background-color: #495057;
}

/* Highlight active menu */
.active-menu {
  background-color: #495057;
  border-left: 3px solid #17a2b8;
}

.active-link {
  color: #17a2b8;
  font-weight: bold;
}

/* Submenu styles */
.sidebar ul ul {
  padding-left: 1.5rem;
  margin-top: 0;
}

.sidebar ul ul li {
  padding-left: 0.5rem;
  display: block;
}

.sidebar ul ul li:hover {
  background-color: #495057;
}

/* Highlight active submenu */
.active-submenu {
  background-color: #495057;
  border-left: 3px solid #17a2b8;
}

/* Submenu animation */
.dropdown-open {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.dropdown-closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

/* Sidebar open/close state */
.sidebar-closed {
  margin-left: 80px;
}

.sidebar-open {
  margin-left: 250px;
}

/* Remove link styling for parent menu */
.sidebar li div {
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar li a {
  color: #ccc;
  text-decoration: none;
  width: 100%;
}

.sidebar li a:hover {
  color: white;
}



/* AppLayout styles */
.app-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.app-layout .content {
  padding: 1rem;
  background-color: #f8f9fa;
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar-open {
  margin-left: 250px;
}

.sidebar-closed {
  margin-left: 80px;
}
